<ng-template #content let-modal>
  <div class="container-modal">
    <div class="modal-header">
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <h4 class="modal-title d-flex justify-content-center" id="modal-basic-title">РЕГИСТРИРАЈТЕ СЕ</h4>
        <div class="form-group">
          <label for="exampleInputPassword2">Име и презиме</label>
          <input type="text" class="form-control" id="exampleInputPassword2" placeholder="Име Презиме">
        </div>
        <div class="form-group">
          <label for="exampleInputEmail1">Е-адреса</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Лозинка</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Лозинка">
        </div>

        <div class="container-login">
          <button type="button" class="btn btn-lg btn-info btn-block buttonLogin" (click)="modal.close('Save click')">Регистрирај се</button>

        </div>

      </form>
    </div>
  </div>
</ng-template>





