<div class="card">
  <input class="card-body">
    <div class="form-group">


      <label for="category">Избери категорија</label>
      <select id="category" class="form-control">
        <option>Човек</option>
        <option>Животно</option>
        <option>Друго</option>

      </select>
      <label for="description"></label>
      <textarea id="description" class="form-control" rows="4" placeholder="Пр. Опис на проблемот"></textarea>
    </div>
    <label for="locationMarker">Локација (движете го црвенот пин на мапата)</label>
    <input type="text" id="locationMarker">
    <label for="listOfItems">Листа на потребни работи(ставките одделете ги со запирка)</label>
    <input type="text" id="listOfItems">
    <label for="privateInfo">Дали се согласувате Вашите внесени податоци, да бидат објавени</label>
    <input type="checkbox"id="privateInfo">
  </div>
</div>
