<div class="container">
  <h1>Додади елемент</h1>
  <div class="form-group" >



    <label>Име </label><input class="form-control" [(ngModel)]="addEvent.name"><br>
    <label>Локација </label><input class="form-control" [(ngModel)]="addEvent.location"><br>

    <label>Датум </label><input class="form-control" [(ngModel)]="addEvent.date"><br>
    <label>Време </label><input class="form-control"[(ngModel)]="addEvent.time"><br>
    <label>Опис </label><textarea class="form-control" [(ngModel)]="addEvent.description"></textarea><br>
    <label>Слика </label><input type="file" (change)="onFileChanged($event)" ><br>
    <button (click)="addNewEvent(addEvent)"  routerLink="/events" class="btn btn-block btn-lg">Додади настан</button>
  </div>



</div>
