<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col blockquote">
        <h3>Визија</h3>
        "to detect and solve a problem,by raising the humanity in every person"
      </div>

    </div>
    <div class="row">
      <div class="col">
        <h3>Што можеш да направиш?</h3>
        <div class="row">
          <div class="col-4">
            <div class="card border-0">
              <div class="card-body bg-info rounded-circle align-items-center">
                <fa-icon [icon]="faCoffee" class="text-light align-items-center ">

                </fa-icon>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0">
              <div class="card-body bg-info rounded-circle align-items-center">
                <fa-icon [icon]="faCoffee" class="text-light align-items-center ">

                </fa-icon>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="card border-0">
              <div class="card-body bg-info rounded-circle align-items-center">
                <fa-icon [icon]="faCoffee" class="text-light align-items-center ">

                </fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col blockquote">
        <h3>Зошто да бидеш дел од оваа платформа ?</h3>

        "to detect and solve a problem,by raising the humanity in every person"
      </div>
    </div>

  </div>
</div>
