<div class="container-fluid ">

  <div class="row " >
    <div  *ngIf="isActive===1" id="containerForInfoAndForm" class="col-3 ">
      <app-info-side (someEvent)="onClick()"  ></app-info-side>


    </div>
    <div  *ngIf="isActive===0" class="containerForInfoAndForm col-3 ">

      <app-problemform (someEvent)="onRefresh($event)"></app-problemform>

    </div>
    <div  *ngIf="isActive===2" class="containerForInfoAndForm col-3 ">

      <app-problem-info [(problem)]="currentProblem"></app-problem-info>
    </div>

    <div id="containerForMap" class="col-9 " >
      <agm-map id="mapItSelf" [(latitude)]="location.lat" [(longitude)]="location.lng"
               [(zoom)]="location.zoom" [disableDefaultUI]="false"
               [zoomControl]="true" [(fitBounds)]='location.viewport'>
        <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"
                    [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)' >

         </agm-marker>



        <agm-circle *ngFor="let circle of problemsLocations" [(latitude)]="circle.lat" [(longitude)]="circle.lgn"
                    [(radius)]="circleRadius"
                    [fillColor]="'red'"
                    [circleDraggable]="false"
                    [editable]="false" (circleClick)="onPrint($event)">



        </agm-circle>

      </agm-map>
    </div>
  </div>

</div>







