<div class="container-fluid ">

  <div class="row " >
    <div  *ngIf="isActive" id="containerForInfoAndForm" class="col-3 ">
      <app-info-side (someEvent)="onClick()"  ></app-info-side>


    </div>
    <div  *ngIf="!isActive" class="containerForInfoAndForm col-3 ">

      <app-problemform ></app-problemform>

    </div>
    <div id="containerForMap" class="col-9 " >
      <agm-map id="mapItSelf" [(latitude)]="location.lat" [(longitude)]="location.lng"
               [(zoom)]="location.zoom" [disableDefaultUI]="false"
               [zoomControl]="true" [(fitBounds)]='location.viewport'>
        <agm-marker [(latitude)]="location.marker.lat" [(longitude)]="location.marker.lng"
                    [markerDraggable]="location.marker.draggable" (dragEnd)='markerDragEnd($event)'></agm-marker>

        <div *ngIf="problemsLocations!=null">
          <agm-circle *ngFor="let circle of problemsLocations" [latitude]="circle.lat" [longitude]="circle.lng"
                      [(radius)]="circleRadius"
                      [fillColor]="'pink'"
                      [circleDraggable]="false"
                      [editable]="false" (circleClick)="onPrint($event)">


          </agm-circle>
        </div>

      </agm-map>
    </div>
  </div>

</div>







