h2{
  margin-bottom: 10px;
  color: #757575;
}

#toggle{
  color: white;
  font-weight: bold;
  font-size: 18px;
}

.btn-link{
  color: white;
}
.story{
  margin-bottom: 30px;
  border-bottom: 2px solid lightgray;
}
hr{
  border-bottom: 4px solid #17a2b8;
  border-radius: 3px;
  width: 50px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 40px;
}

.container{
  margin-top: 20px;
}
