<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
        <h2><strong>Успешни приказни</strong></h2><hr/>
        <!--<ngb-accordion *ngFor="let story of stories">-->
          <!--<ngb-panel id="toggle" title="{{story.name}}">-->
              <!--<ng-template ngbPanelContent>-->
                <!--<img src="{{story.pictureUrl}}}">-->
                <!--{{story.description}}-->
              <!--</ng-template>-->
          <!--</ngb-panel>-->
        <!--</ngb-accordion>-->
  </div>
</div>
