<div id="wrapper" class="animate">
  <nav class="navbar header-top fixed-top navbar-expand-lg  navbar-dark bg-dark">

<button class="navbar-toggler" type="button">
  <span class="navbar-toggler-icon"></span>
</button>


  <div class="nav navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="nav navbar-nav ml-auto">
      <li class="nav-item">
        <a  routerLink="/home" class="nav-link" href="#">Почетна</a>
      </li>
      <li class="nav-item">
        <a routerLink="/detect" class="nav-link" href="#">Детектирај</a>
      </li>
      <li class="nav-item">
        <a routerLink="/heroes" class="nav-link" href="#">Херој</a>
      </li>
      <li class="nav-item">
        <a routerLink="/events" class="nav-link" href="#">Настани</a>
      </li>
      <li class="nav-item">
          <app-modal-basic></app-modal-basic>
      </li>
    </ul>
  </div>
</nav>
</div>
