

<div class="container">

  <div>
    <h1>Листа на настани</h1>

    <button class="btn btn-info float-right" routerLink="/events/add">Додади настан</button>
  </div>

  <div class="card-columns">

    <ul class="events">

      <li *ngFor="let event of events"
          (click)="onSelected(event)">

        <div class="card flex-container" >
          <img class="card-img-top img-fluid" src="{{event.image}}" alt="Card image cap">
          <div class="card-body" style="align-content: center">
            <h4 class="card-title">{{event.name}}</h4>
            <p class="card-text">Датум: {{event.date}}</p>
            <p class="card-text">Време: {{event.time}}</p>
            <p class="card-text">{{event.description}}</p>


          </div>
        </div>


      </li>
    </ul>

  </div>
  <!-- /.card-columns -->
</div>
<!-- /.container -->
