/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  height: 400px;
  width: auto;
  background-color: aqua;
}

app-root {
  height: 100%;
  width: auto;
}
