<div class="card">
  <div class="card-body">
    <img class="card-img-top img-fluid card-img-height" src="{{problem.pictureUrl}}" alt="Card image cap">
    <div class="form-group">
      <label >Kатегорија</label>
      <label ><strong>{{problem.category}}</strong></label>
      <label ></label>
      <br>
      <label>{{problem.description}}</label>
    </div>
    <br>
    <label>Листа на потребни работи</label>
    <ul>
      <li *ngFor="let item of problem.itemsNeeded">
        {{item}}
      </li>
    </ul>

    <div class="row">
      <div class="col button-problem">
        <button class="btn btn-danger text-light p-3 shadow button-problem-size" (click)="this.onClick()"  >
          Помогни
        </button>
      </div>
    </div>
  </div>
</div>
